.contain-numeros{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
    width: 90%;
}

.contain-numeros div{
    margin: 3px;
    text-align: center;
}

.contain-numeros div button{
    width: 95%;
    height: 25px;
    border-radius: 4px;

}