.contain-numeros{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contain-numeros div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contain-numeros div button{
    width: 115px;
    height: 40px;
    border-radius: 0.5em;
}

.contain-numeros div button:hover{
    background-color: rgb(210, 229, 245);
}